
<div class="container" style="min-height: 600px;">
  <div class="row">
    <div class="col-md-12">

      <h3 class="page-header">App Store搜索更新预测</h3>

      <div class="appbk-ui-select btn-float-left" >
        <ul class="nav navbar-nav btn-float-left ">

          <li class="dropdown left-firstbtn left-firstbtn" style="float: left;">
            <div class="date-select-title date-select-style-font">日期</div>
            <input type="text" id="config-cur-demo" class="form-control" style="width: 88px;">
            <!--<i class="glyphicon glyphicon-calendar fa fa-calendar" style=" margin-left: 210px;padding-top: 10px;"></i>-->
          </li>


        </ul>
      </div>

      <div class="sk-circle" style="margin-top: 180px" ng-show='loading_show'>
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>

      <div id="trend" ng-show='!loading_show' style="width:100%;height: 400px; margin: 0 auto"></div>
      <br/>

    </div>
  </div>
</div>
