<div class="container">
  <div class="row">
<!--<div class="row">-->
  <div class="col-md-12">


    <h3 class="page-header">App Store实时热搜词</h3>

    <table class="table table-bordered" >
      <!--<thead>-->
      <tr class="table-header-bg">
        <th width="9%">日期</th>
        <th>热搜词</th>
      </tr>
      <!--</thead>-->
      <!--<tbody>-->
      <tr ng-repeat="word in words">
        <td>{{word.fetch_date}}</td>
        <td>{{word.words}}</td>
      </tr>
      <!--</tbody>-->
    </table>

  </div>
</div>
</div>
</div>
