<br/><br/><br/>
<!-- BEGIN: CONTENT/FEATURES/FEATURES-1 -->
<div class="c-content-box c-size-md ">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Begin: Title 1 component -->
        <div class="c-content-title-1">
          <h3 class="c-font-uppercase c-font-bold">APPBK网站服务条款</h3>
          <div class="c-line-left c-theme-bg"></div>
        </div>
        <!-- End-->
        <p>
          本使用条款和条件 (“使用条款”) 适用于网址为 AppBK.com 的网站，以及移动应用及其关联公司链接至 AppBK.com 的所有相关网站(合称为“本网站”或“AppBK.com”)。您使用和访问本网站，即表示您同意本使用条款；如果您不同意，请勿使用本网站。
        </p>
        <p>
          AppBK.com保留自行决定在任何时候变更、修改、增加或删除本使用条款部分内容的权利。您有责任定期查看本使用条款的变更。您在变更信息发布之后继续使用本网站，即表示您同意且接受该等变更。若您遵守本使用条款，AppBK.com即授予您一项个人、非排他性、不可转让、有限的权利以登录并使用本网站。
        </p>
        <h3 style="font-weight: 900;">

        内容
        </h3>
        <p>

        本网站包含的所有文字、数据、标识及计算机编码 (合称为“内容”)，包括但不限于该等内容的设计、结构、选择、协调、表达及排序等，均属AppBK.com所有，且受商业外观法、著作权法、专利法、商标法以及各类其他知识产权法和反不正当竞争法的保护。
        </p>
        <p>

        除本使用条款明确规定外，未经AppBK.com事先明确书面同意，不得为出版或发行或为任何商业企业以任何方式 (包括“镜像”) 将本网站的任何部分及任何内容复制、再制、重印、上传、发布、公开展示、编码、翻译、传输或散布至任何其他计算机、服务器、网站或其他媒介。
        </p>
        <p>

        您可以使用AppBK.com专为从本网站下载所提供的有关AppBK.com产品和服务的信息 (如数据表、知识库文章及类似资料)，前提是：
        </p>
        <p>
        •	不得从该等文件的所有复本中移除任何所有权通知的文句；
        </p>
        <p>
        •	仅出于个人而非商业信息目的使用该等信息，且不得在任何网络计算机上复制或发布该等信息，或在任何媒介上散布该等信息；
        </p>
        <p>
        •	不得对该等信息作任何修改；
        </p>
        <p>
        •	不得对该等文件做出进一步陈述或保证。

        </p>
        <h3 style="font-weight: 900;">
        您对本网站的使用
        </h3>
        <p>
        •	您不可使用任何“深层链接”、“抓取页面”、“机器人”、“蜘蛛”或其他自动装置、程序、算法、方法或者任何相似或相同的手动程序，以访问、取得、复制或监测本网站任何部分或任何内容，或以任何方式复制或规避本网站或任何内容的导航结构或介绍，通过任何非本网站提供的方式，取得或试图取得任何资料、文件或信息。AppBK.com有权禁止任何该等行为并且有权通过法律途径进行维权。
        </p>
        <p>
        •	您不可试图通过非法侵入、“破解”密码或任何其他非法方式，未经授权访问本网站的任何部分或功能，或者链接至本网站或任何服务器的任何其他系统或网络，或者未经授权取得本网站提供的任何服务。
        </p>
        <p>
        •	您不可探查、扫描或测试本网站或链接至本网站之任何网络的弱点，亦不可违反本网站或链接至本网站之任何网络的安全或认证措施。您不可反向查找、追踪或寻求追踪任何关于本网站任何其他用户或访问者或其他客户的信息，包括任何非您所有账户的来源；或为显示您个人所有信息以外的任何信息之目的，包括但不限于本网站提供的身份证明或信息，使用本网站或本网站提供的任何服务或信息。
        </p>
        <p>
        •	您同意不会采取任何行为，在本网站基础架构或AppBK.com的系统或网络上，或者链接至本网站或AppBK.com的任何系统或网络上，存储不合理或不成比例的大量数据。
        </p>
        <p>
        •	您同意不使用任何设备、软件或程序，干扰或试图干扰本网站的正常运行或于本网站进行的任何交易，或干扰或试图干扰他人使用本网站。
        </p>
        <p>
        •	您不可伪造信头或以其他方式操控识别功能，以伪造您通过本网站提交给AppBK.com的任何信息或传输内容的来源，或者伪造本网站提供的任何服务的来源。您不可假冒他人、或假冒代表他人，或模仿任何其他个人或实体。
        </p>
        <p>
        •	您不可为任何非法或本使用条款禁止之目的使用本网站或任何内容，或者为教唆实施任何非法行为或侵犯AppBK.com或他人权利的其他行为使用本网站或任何内容。
        </p>
        <p>

        </p>
        <h3 style="font-weight: 900;">
        购买，其他条款和条件
        </h3>
        <p>
        额外条款和条件可能适用于商品或服务的购买，以及本网站的特定部分或服务，所有该等条款均通过此处援引纳入本使用条款。AppBK.com可不经通知随时修改本网站提供的任何产品或服务，或任何该等产品或服务的相关价格。本网站中关于产品和服务的资料可能过期，AppBK.com不承诺更新本网站上关于该等产品和服务的资料。
        </p>
        <p>

        </p>
        <h3 style="font-weight: 900;">
        账户、密码及安全
        </h3>
        <p>
        对于维护您持有账户信息的保密性，您承担全部责任；且对于因您未能保持信息安全和保密而在您账户下发生的任何及所有行为，您承担全部责任。如果由您个人失误，导致您的AppBK.com账号或密码被他人使用，从而使本网站的任何其他用户或访问者遭受损失，您可能为该等损失承担赔偿责任。未经AppBK.com账号持有人的明确允许和同意，任何时候您均不得使用任何其他人的AppBK.com账号、密码。
        </p>
        <h3 style="font-weight: 900;">

        个人信息的保护
        </h3>
        <p>
        AppBK.com非常重视你的个人信息的安全。您所有个人数据将以传输层安全协议 (TLS) 等加密技术得以保护。您可以会授权在 Apple 存储你的个人数据时，我们会使用具有有限访问权限的电脑系统，这些系统部署在通过物理安全措施加以保护的设施之中。iCloud 数据以加密形式存储，在我们使用第三方存储时也是如此。
        </p>
        <h3 style="font-weight: 900;">

        账户、密码及安全
        </h3>
        <p>
        对于维护您持有账户信息的保密性，您承担全部责任；且对于因您未能保持信息安全和保密而在您账户下发生的任何及所有行为，您承担全部责任。如果由您个人失误，导致您的APPBK.com 账号或密码被他人使用，从而使本网站的任何其他用户或访问者遭受损失，您可能为该等损失承担赔偿责任。未经APPBK.com 账号持有人的明确允许和同意，任何时候您均不得使用任何其他人的APPBK.com 账号、密码。
        </p>
        <h3 style="font-weight: 900;">

        隐私政策
        </h3>
        <p>
        APPBK.com的隐私政策适用于本网站的使用，其条款通过此处援引构成本使用条款的一部分。通过使用本网站，您承认并同意网络传输从不完全保密或安全。您理解，任何您发送至本网站的消息或信息均可能被他人阅读或拦截，即使有特别通知说明特定传输 (例如信用卡信息) 已加密。
        </p>
        <h3 style="font-weight: 900;">

        汇总数据
        </h3>
        <p>
        APPBK.com及其关联公司有权按本隐私政策使用汇总数据，用于提供和改进我们的产品、服务、内容和广告宣传。汇总数据，是指我们会收集与客户在使用我们的网站及服务中有关的信息。我们会将此类信息汇总，用于了解客户对我们网站、产品和服务中的哪些部分最感兴趣。就本隐私政策而言，汇总数据被视为非个人信息。
        </p>
        <h3 style="font-weight: 900;">

        数据连接
        </h3>
        <p>
        你可以选择连接你的iTunes Connect帐户、或其他帐户，以使用本网站来分析关于存储在连接帐户中的应用程序的信息。在此之下，您理解并同意，APPBK.com将收到有关您和从连接帐户中的应用程序的某些信息。您提供给APPBK.com的信息，或是通过每个连接帐户提供给APPBK.com的站点信息为本协议的客户数据。

        </p>
        <h3 style="font-weight: 900;">
        链接至其他网站
        </h3>
        <p>
        本网站可能包含链向其他独立第三方网站的链接 (“链接网站”)。该等链接网站仅为方便访问者而提供。该等链接网站并非由APPBK.com控制，对其内容，包括该等链接网站的任何信息或资料，APPBK.com不承担任何责任。您需自行独立判断您与该等链接网站的互动。
        </p>
        <h3 style="font-weight: 900;">

        宣传
        </h3>
        <p>
        APPBK.com有权在APPBK.com市场推广和新闻材料中使用到您的姓名，公司名称，标志，应用程序的标志（应用程序图标）。
        </p>
        <h3 style="font-weight: 900;">

        免责声明
        </h3>
        <p>
        APPBK.com不承诺本网站或本网站的任何内容、服务或功能无任何错误或不中断，不承诺任何瑕疵将被纠正，或者您对本网站的使用将产生特定结果。本网站及其内容是基于“现状”且“可获得”而提供。本网站提供的所有信息可不经通知而变更。APPBK.com不能确保您从本网站下载的任何资料或其他数据无病毒、无污染或不具破坏性。APPBK.com不作任何明示或默示保证，包括任何正确性、非侵权、适销性及适用性的保证。
        </p>
        <p>

        APPBK.com保留在任何时候不经通知进行以下任何行为的权利：
        </p>
        <p>
        •	基于任何原因，修改、中止或终止本网站或其任何部分的运行或访问；
        </p>
        <p>
        •	修改或变更本网站或其任何部分及任何适用政策或条款；
        </p>
        <p>
        •	在进行定期或非定期维护、错误纠正或其他变更所必须时，中断本网站或其任何部分的运行。
        </p>
        <h3 style="font-weight: 900;">

        赔偿
        </h3>
        <p>
        对于任何第三方向APPBK.com提出的，因您使用本网站而产生的或与之有关的任何请求、损失、责任、主张或费用 (包括律师费)，您同意赔偿APPBK.com及其管理人员、董事、股东、前任、利益承继人、员工、代理人、子公司和关联方，并使其免受损害。
        </p>
        <h3 style="font-weight: 900;">

        本使用条款的违反
        </h3>
        <p>
        您同意并认可APPBK.com可以保留您通过本网站或者本网站提供的任何服务与APPBK.com之间进行的任何传输或交流，亦可披露该等数据，若法律要求该等保留或披露，或APPBK.com认为出于以下目的该等保留或披露合理必要：
        </p>
        <p>
        •	为遵守法定程序；
        </p>
        <p>
        •	为执行本使用条款；
        </p>
        <p>
        •	为回应任何该等数据违反他人权利的主张；
        </p>
        <p>
        •	为保护APPBK.com、APPBK.com员工、本网站用户或访问者及公众的权利、财产或个人安全。
        </p>
        <p>

        </p>
        <p>
        您同意APPBK.com可自行决定且无需提前通知，因下列原因终止您访问本网站的权限，包括 (但不限于)：
        </p>
        <p>
        •	您违反了本使用条款或可能与您使用本网站相关的其他协议或指引；
        </p>
        <p>
        •	应法律执行机构或其他政府机构的要求；
        </p>
        <p>
        •	应您的要求 (您自己要求删除账户)；
        </p>
        <p>
        •	本网站或本网站提供的任何服务的中止或重大修改；
        </p>
        <p>
        •	不可预期的技术问题。
        </p>
        <h3 style="font-weight: 900;">

        管辖法律；争议解决
        </h3>
        <p>
        您同意所有与您访问或使用本网站有关的事项，包括所有争议，将受中华人民共和国管辖，但不适用其冲突法规定。如果本协议的任何条文或任条款的适用范围由有管辖权的法庭裁定为违反法律，本协议的其余条款将继续生效。
        </p>
        <p>
        APPBK.com提供获取APPBK.com国际数据的权限，因此可能包含对未在您所在国公布的APPBK.com产品、程序和服务的引用或交叉引用。该等引用不表示您所在国的APPBK.com意图公布该等产品、程序或服务。
        </p>
        <h3 style="font-weight: 900;">

        反馈与信息
        </h3>
        <p>
        您在本网站提供的任何反馈均视为非保密，APPBK.com可随时不受限制地使用该等信息。
        </p>
        <p>
        本网站所含信息可不经通知而变更。
        </p>
        <p>
        该服务条款最后更新于2016年4月14日。

        </p>
      </div>

    </div>
  </div>
</div>
<!-- END: CONTENT/FEATURES/FEATURES-1 -->

<br/><br/><br/><br/>


