<br/><br/><br/>
<!-- BEGIN: CONTENT/FEATURES/FEATURES-1 -->
<div class="c-content-box c-size-md ">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <!-- Begin: Title 1 component -->
        <div class="c-content-title-1">
          <h3 class="c-font-uppercase c-font-bold">关于我们</h3>
          <div class="c-line-left c-theme-bg"></div>
        </div>
        <!-- End-->
        <p>有约(北京)科技有限公司为国内领先的APP画像和APP用户画像大数据创业公司。公司于2014年初在北京成立，成立之初即成为Apple合作伙伴计划中国区成员之一，与新浪微博在社会化数据上有深度的合作。提供AppStore优化建议、广告投放建议、权威数据算法公布等服务，携手APP开发者共建绿色移动生态。</p>
          <p>appbk隶属有约(北京)科技有限公司，其营销saas服务目前已累计服务过国内数万个APP用户，在ASO、APP运营工具等领域有一定的影响。公司员工均来自BAT等一流国内互联网企业，已获得千万级战略投资，我们目标就是为APP开发者提供一流的营销数据支持服务。</p>
        <ul class="c-content-list-1 c-theme  c-font-uppercase">
          <li>大数据</li>
          <li>SaaS云服务</li>
          <li>专注中小企业</li>
        </ul>
        <p>我们的愿景就是"构建一站式营销云服务"，做移动营销领域的Salesforce。</p>
      </div>
      <div class="col-sm-6">
        <div class="c-content-client-logos-1">
          <!-- Begin: Title 1 component -->
          <div class="c-content-title-1">
            <h3 class="c-font-uppercase c-font-bold">典型用户</h3>
            <div class="c-line-left c-theme-bg"></div>
          </div>
          <!-- End-->
          <div class="c-logos">
            <div class="row">
              <div class="col-md-4 col-xs-6 c-logo c-logo-1">
                <a href="">
                  <img class="" src="images/client1.png" alt="">
                </a>
              </div>
              <div class="col-md-4 col-xs-6 c-logo c-logo-2">
                <a href="">
                  <img class="" src="images/client2.png" alt="">
                </a>
              </div>
              <div class="col-md-4 col-xs-6 c-logo c-logo-3">
                <a href="">
                  <img class="" src="images/client3.png" alt="">
                </a>
              </div>
              <div class="col-md-4 col-xs-6 c-logo c-logo-4">
                <a href="">
                  <img class="" src="images/client11.jpg" alt="">
                </a>
              </div>
              <div class="col-md-4 col-xs-6 c-logo c-logo-5">
                <a href="">
                  <img class="" src="images/client10.jpg" alt="">
                </a>
              </div>
              <div class="col-md-4 col-xs-6 c-logo c-logo-6">
                <a href="">
                  <img class="" src="images/client7.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: CONTENT/FEATURES/FEATURES-1 -->

<br/><br/><br/><br/>


