

<div class="c-content-box c-size-lg ">
  <div class="login">
    <alert ng-show="alert" type="{{alert.type}}" style="padding: 5px; text-align: center">{{alert.msg}}</alert>

    <div class="login-top">
      <h1>找回密码</h1>
      <form role="form"  method="post" ng-submit="find_password()">

        <input type="text" type="email" value="email" placeholder="邮箱" ng-model="email" onfocus="this.value = '';" >

        <div class="forgot">
          <input type="submit" value="确认" >
        </div>
      </form>

    </div>
    <div class="login-bottom">
      <h3>记起密码了 现在 &nbsp;<a href="#index_login">登录</a></h3>

      <h3>没有帐号？现在 &nbsp;<a href="#index_register">注册</a></h3>

    </div>
    <user-message></user-message>
  </div>
</div>
