<div class="container user-setting-container">
  <div class="row" >
    <div class="col-md-2 setting-guid horizon-padding-zero appbk-mobile-hide ">
      <ul class="nav nav-pills nav-stacked">
        <li class=""><a href="#setting_account">账号设置</a></li>
        <li class="active"><a href="#setting_wechat">微信订阅</a></li>

        <li class=""><a href="#setting_vip">VIP 特权</a></li>
        <!--<li class=""><a href="#setting_integral">积分兑换</a></li>-->
        <li class=""><a href="#setting_order">订购记录</a></li>
        <!--<li class=""><a href="#setting_passwd">修改密码</a></li>-->
      </ul>
    </div>

    <div class="col-md-8 col-md-offset-1 setting-content" style="min-height: 500px">
      <h4 class="user-app-line-title">
        <span></span>
        微信订阅
      </h4>

      <span style="line-height: 30px">
        您还没有绑定微信，绑定后即可添加微信订阅：<br>
		1、第一时间知晓应用榜单排名变化情况；<br>
		2、跟踪每日关键词排名变动；<br>
		3、自己及竞品榜单排名每日提醒；<br>
		4、24小时内榜单排名上升/下降最快应用。<br>
	</span>



    </div>


  </div>
</div>
