<div class="container user-setting-container">
  <div class="row" >
    <div class="col-md-2 setting-guid horizon-padding-zero appbk-mobile-hide ">
      <ul class="nav nav-pills nav-stacked">
        <li class=""><a href="#setting_account">账号设置</a></li>
        <!--<li class=""><a href="#setting_wechat">微信订阅</a></li>-->

        <li class=""><a href="#setting_vip">VIP 特权</a></li>
        <li class="active"><a href="#setting_integral">积分兑换</a></li>
        <li class=""><a href="#setting_order">订购记录</a></li>
        <li class=""><a href="#setting_passwd">修改密码</a></li>
      </ul>
    </div>

    <div class="col-md-8 col-md-offset-1 setting-content" style="min-height: 500px">
      <h4 class="user-app-line-title">
        <span></span>
        积分兑换
      </h4>




    </div>


  </div>
</div>
