

<div class="c-content-box c-size-lg">
  <!--<div class="container">-->
  <div class="login">

    <alert ng-show="alert" type="{{alert.type}}" style="padding: 5px; text-align: center">{{alert.msg}}</alert>


    <div class="login-top">
      <h1>重置密码</h1>
      <form role="form"  method="post" ng-submit="updatePassword()">

        <!--<input type="text" type="email" value="email" placeholder="邮箱" ng-model="email" onfocus="this.value = '';">-->
        <input type="password" value="password" placeholder="新密码" ng-model="password" onfocus="this.value = '';">
        <input type="password" value="password_check" placeholder="确认密码" ng-model="password_check" onfocus="this.value = '';" >

        <div class="forgot">
          <input type="submit"  value="确认" >
        </div>

      </form>


    </div>
    <div class="login-bottom">
    </div>
  </div>


</div>
</div>
<br/><br/>
</div>
