<br/>
<div class="searchResultList">
  <table width="100%" border="0">
    <tr>
      <td width="9%" rowspan="2" style="padding: 9px"><img ng-src="{{app_info.icon}}" width="72" height="72" class="sImg" alt="img"></td>
      <td width="77%">
        <span class="sRTitle c3"> <a href="/#/app_content/{{app_info.app_id}}" target="_blank"> {{app_info.name}}</a></span>
        <span class="db sRBtn"> {{app_info.ori_classes}}
         App ID:<a href="{{app_info.download_url}}" target="_blank">{{app_info.app_id}}</a></span>
      </td>
    </tr>
  </table>
</div>

<h3 class="page-header">用户基础属性<span class="h5"> (根据你的app及竞品确定，如果没有数据，请添加一些热门竞品)</span></h3>

<!-- 用户性别 -->
<div class="panel panel-default">
  <div class="panel-heading">用户性别分布</div>
  <div class="panel-body">
  	 <div id="user_gender" style="width:100%;height: 400px; margin: 0 auto"></div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->

<!-- 用户地域 -->
<div class="panel panel-default">
  <div class="panel-heading">用户地域分布</div>
  <div class="panel-body">
  	 <div id="user_area" style="width:100%;height: 400px; margin: 0 auto"></div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->


<!-- 用户时间 -->
<div class="panel panel-default">
  <div class="panel-heading">用户上网时间分布</div>
  <div class="panel-body">
  	 <div id="user_time" style="width:100%;height: 400px; margin: 0 auto"></div>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->

