<h3 class="page-header">我的App管理
</h3>

<!-- App list panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    添加App
    </button>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="9%">序号</th>
        <th>icon</th>

        <th>App</th>
        <!--<th>开发商</th>-->
        <!--<th>类别</th>-->
        <th>评论量</th>
        <th>删除</th>
        <th>管理</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="app in apps">
        <th class="table_middle">{{$index+1}}</th>
        <td class="table_middle"><span class=""> <img ng-src="{{app.icon}}" class="img-rounded mr" alt=""></th>
        <td class="table_middle">
          <h4 class="c2">
          <a href="#/solution/{{app.app_id}}"> {{app.name}}</a></span>
          </h4>
          <div class="c2" style="color: #7d8691; font-size: 12px; margin-top: 15px"><p>{{app.ori_classes}} &nbsp&nbsp&nbsp{{app.company}}</p></div>

        </td>

        <td class="table_middle">{{app.user_comment_num}}</td>
        <td class="table_middle"><a href="" ng-click="del_user_app(app.app_id)">删除</a></td>
        <td class="table_middle"><a href="" ng-click="go_app_info(app)" class="btn btn-primary">管理</a></td>
      </tr>
      </tbody>
    </table>
    <!--<img ng-show="user_app_show_wait" src="http://cdn.appbk.com/images/wait1.gif"> </div>-->
    <div class="sk-circle" ng-show='user_app_show_wait'>
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
<!-- /.pannel -->



<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          添加应用
        </h4>
      </div>
      <div class="modal-body">

        <!-- tabs -->
        <ul class="nav nav-tabs">
          <li role="presentation" ng-class="{active:old_app_tab}" ><a href="" ng-click="old_app_tab_click()">已提交市场App</a></li>
          <li role="presentation" ng-class="{active:new_app_tab}"><a href="" ng-click="new_app_tab_click()">未提交市场App</a></li>
        </ul>
        <!-- /.tabs -->

        <div class="tab-content">

          <!-- 已提交市场的App -->
          <div class="tab-pane" ng-class="{active:old_app_tab}" id="old_app"> <br/>
            <div class="row" id="form_area">
              <div class="col-lg-8">
                <form role="form" class="form-inline" ng-submit="search_app()">
                  <div class="input-group">
                    <input type="text" class="form-control" name="q" ng-model="query" placeholder="搜索app名称或者app id" >
                  </div>
                  <button type="submit" class="btn btn-primary">搜索</button>
                </form>
              </div>
            </div>

            <!-- /#from_area -->
            </br>

            <!-- 搜索结果 -->
            <user-message></user-message>
            <table class="table table-striped table-bordered">
              <thead>
              <tr>
                <th width="9%">序号</th>
                <th>App</th>
                <th>类别</th>
                <th>评论量</th>
                <th>添加</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="app in app_search_results">
                <th class="table_middle">{{$index+1}}</th>
                <td class="table_middle"><span class="c2"> <img ng-src="{{app.icon}}" class="img-rounded mr" alt=""> <a href="">{{app.name}}</a></span></td>
                <td class="table_middle">{{app.ori_classes}}</td>
                <td class="table_middle">{{app.user_comment_num}}</td>
                <td class="table_middle"><a href="" ng-click="add_user_app(app.app_id)">添加</a></td>
              </tr>
              </tbody>
            </table>
            <!--<img ng-show="api_search_wait" src="http://cdn.appbk.com/images/wait1.gif">-->
            <div class="sk-circle" ng-show='api_search_wait'>
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
            </div>
            <api-search></api-search>

          </div>
          <!-- /#old_app -->

          <!-- 未提交市场的app -->
          <div class="tab-pane" ng-class="{active:new_app_tab}" id="new_app"> <br/>
            <div class="row" id="form_area">
              <div class="col-lg-8">
                <form role="form" ng-submit="add_new_app()">
                  <div class="form-group">
                    <label for="name">应用名(name)</label>
                    <input type="text" class="form-control" name="n" placeholder="" value="" ng-model="new_app_name">
                  </div>
                  <div class="form-group">
                    <label for="description">描述(Description)</label>
                    <textarea class="form-control" rows="10" name="d" ng-model="new_app_description"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="description">类别(Catetory)</label>
                    <select class="form-control" name="c" ng-model="new_app_category">
                      <option ng-repeat="category in categories">{{category.ori_classes}}</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">添加</button>
                </form>
              </div>
            </div>
            <!-- /#from_area -->
          </div>
          <!-- /#new_app -->

        </div>
        <!-- /.tab-content -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">关闭
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
